In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('get_data.csv')
df = df.sort_values('age')

you can make querys on defined values with the @

In [25]:
min_age = 0
max_age = 99 
df = df.query('age > @min_age and age < @max_age')
df = df.sort_values('age')
df

      age  time_in_bed  pct_sleeping favorite_food  hate_food
257     1            5      0.102340          taco   broccoli
5435    1            6      0.599530     ice_cream  candycorn
2051    1            4      0.049266         pizza  candycorn
7091    1            4      0.731119     ice_cream   broccoli
610     1            4      0.662933         pizza       eggs
...   ...          ...           ...           ...        ...
2087   98            4      0.299697         pizza   broccoli
4816   98            1      0.240583         pizza  candycorn
1062   98            2      0.831985          taco   broccoli
9771   98            1      0.617055         pizza  candycorn
5470   98            5      0.016706         pizza  candycorn

[9805 rows x 5 columns]

In [26]:
# vector call
df_taco = pd.read_csv('get_data.csv')

df_taco['result'] = df_taco['favorite_food'] == 'taco'
df_taco

      age  time_in_bed  pct_sleeping favorite_food  hate_food  result
0      31            5      0.830765     ice_cream   broccoli   False
1      17            2      0.058359         pizza  candycorn   False
2      31            2      0.906799     ice_cream       eggs   False
3      39            5      0.977744     ice_cream   broccoli   False
4      92            7      0.386331         pizza       eggs   False
...   ...          ...           ...           ...        ...     ...
9995   46            5      0.496114          taco  candycorn    True
9996   16            3      0.312910          taco   broccoli    True
9997   51            6      0.356168          taco   broccoli    True
9998   80            4      0.076852          taco   broccoli    True
9999   30            1      0.343726         pizza  candycorn   False

[10000 rows x 6 columns]

In [28]:
# apply call 
df_taco['pct_sleeping'] = df_taco['pct_sleeping'].apply(np.ceil)
df_taco

      age  time_in_bed  pct_sleeping favorite_food  hate_food  result
0      31            5           1.0     ice_cream   broccoli   False
1      17            2           1.0         pizza  candycorn   False
2      31            2           1.0     ice_cream       eggs   False
3      39            5           1.0     ice_cream   broccoli   False
4      92            7           1.0         pizza       eggs   False
...   ...          ...           ...           ...        ...     ...
9995   46            5           1.0          taco  candycorn    True
9996   16            3           1.0          taco   broccoli    True
9997   51            6           1.0          taco   broccoli    True
9998   80            4           1.0          taco   broccoli    True
9999   30            1           1.0         pizza  candycorn   False

[10000 rows x 6 columns]